<p>
  <strong>Requested Question is:</strong>&nbsp;
  <%= @question.body %>
</p>

<p><%= link_to 'Edit', edit_question_path(@question) %></p>

<p><%= link_to 'Back', test_questions_path(:test_id => @question.test_id) %></p>
