<h3 align = "center">* Fine! *</h3>

<p style="font-size: small">
  Great! On <i><%= @sent_at %></i> you've completed the <i><%= @test.title %></i> test.
  Accomplish the rest! See
  <%= link_to 'more', @user.admin? ? admin_tests_url : tests_url  %>.
</p>
