<% if resource.errors.present? %>
    <div>
        <h3 style="color:red;">
          <%= pluralize(resource.errors.count, 'error') %> encountered:
        </h3>

        <ul>
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end  %>
        </ul>
    </div>
<% end  %>
