<h3>
    <%= pluralize(@test.questions.count, 'Question') %> total:
</h3>

<table border = "1" width = "50%" cellpadding = "4">
    <tr>
        <th>Id</th>
        <th>Question's Content</th>
        <th colspan="3">Actions</th>
    </tr>

    <%= render @test.questions %>
</table>
