/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
input[type="number"] {
  width: 35px;
}

label.required:after {
  content: " *";
  color: red;
}

.translation_missing {
	font-size: 13px;
	color: deeppink;
	font-family: Times;

	&:before {
		content: "translation view missing :: ";
		font-size: 13px;
		color: deeppink;
		font-family: Times;
	}
}

.button {
	color: white;
	border: 2px solid #008cba;
	text-align: center;
	display: inline-block;
	transition-duration: 0.5s;
}

.button:hover {
	background-color: #008cba;
	color: white;
}

.form-select {
	background-color: #33c1FF;
	border: 2px solid #008cba;
	border-radius: 3px;
	padding: 3px 5px;
}
