/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "typography/icons";
@import "global";

body {
  background-color: #fff;
  color: #333;
  margin: 20px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 17px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 17px;
}

div {
  &.field, &.actions {
    margin-bottom: 15px;
  }
}
/* End from scaffold css */

.table th {
  border: 1px solid blue;
  padding-bottom: 15px;
  text-align: center;
}

.table td {
  border: 1px solid blue;
  padding: 5 10px 12px;
  vertical-align: center;
}

.table-condensed > thead > tr> th,
.table-condensed > tbody > tr> th,
.table-condensed > tfoot > tr> th,
.table-condensed > thead > tr> td,
.table-condensed > tbody > tr> td,
.table-condensed > tfoot > tr> td {
  padding: 2px;
  vertical-align: middle;
  width: auto;
}

input[type="number"] {
  width: 70px;
}

label.required:after {
  content: " *";
  color: red;
}

.translation_missing {
	font-size: 15px;
	color: deeppink;
	font-family: Times;

	&:before {
		content: "translation view missing :: ";
		font-size: 15px;
		color: deeppink;
		font-family: Times;
	}
}

.form-select {
  background-color: #33c1FF;
  border: 2px solid #008cba;
  border-radius: 3px;
  padding: 3px 5px;
}

.gist-question {
  text-align: left;
  max-width: 12em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

progress {
  border: none;
  width: 150px;
  height: 15px;
  border-radius: 5px;
  color: orange;
}

progress::-moz-progress-bar {
  border: none;
  width: 150px;
  height: 15px;
  background: orange;
  border-radius: 9px;
}

.feedback-form-text-area {
  color: #5a6268;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.exam_timer {
  box-sizing: content-box;
  width: 180px;
  margin: auto;
}
