.flash {
  border: 2px solid;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
}

.flash.alert {
  position: relative;
  border-color: #ef2727;
}

.flash.notice {
  position: relative;
  border-color: #228B22;
}

.flash.hello {
  position: relative;
  border-color: #ffa500;
}
