// styles related to Tests table sorting.
 .pointer {
   cursor: pointer;
 }

 .hide {
  display: none;
 }

 //  styles related to Password & Confirm compare.
 .match {
   color: lawngreen;
 }

 .mismatch {
   color: red;
 }
 //  styles related to Badges.
 .dimmed {
   color: #888 !important;
 }

 .timing {
   color: #0062cc;
   vertical-align: middle;
   font-weight: 600;
 }
