// Place all the styles related to  Welcome here.
 .greet.user {
  color: darkslateblue;
  background: lightgreen;
  text-align: right;
 }

 .greet.admin {
  color: darkslateblue;
  background: lightskyblue;
  text-align: right;
 }

 .admin.title {
  font-weight: bold;
  color: darkslateblue;
  float: left;
 }
