<h3><%= t('.header') %></h3>

<table border = "1" width = "60%" cellpadding = "3">
    <tr>
        <th>Id</th>
        <th>Test Title</th>
        <th>Test Level</th>
        <th>Questions Total</th>
        <th>Action</th>
    </tr>

    <%= render @tests %>
</table>
