<h3>* All of Tests *</h3>

<table border = "1" width = "50%" cellpadding = "4">
    <tr>
        <th>Id</th>
        <th>Test Title</th>
        <th>Test Level</th>
        <th>Questions Total</th>
    </tr>

    <%= render @tests %>
</table>
