<div id="footer">
  <hr style="border: 0.5px solid lightgray;">
    <div>
      <small><a><%= github_url('allrom', 'testguru') %></a></small>
    </div>

    <div>
      <small><a href="http://thinknetica.com/" target="_blank">
        Study Project in Online Tech-School &copy;Thinknetica
      </a>
        by Alexey Romanuk * <%= current_year %></small>
    </div>
</div>
